<div class="container">
    <span class="form-title"> Login Form </span>
    <mat-form-field>
        <mat-label>Username</mat-label>
        <input [(ngModel)]="loginDTO.username" matInput id="login-input-username" placeholder="Username">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="loginDTO.password" id="login-input-password" type="password" Password  placeholder="Passowrd">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="loginUser()">Login</button>
</div>
